@media (max-width: 767px) {
    body {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.container {
    padding: 15px;
    margin: 0 auto;
}

.jsonly {
    display: none;
}

.thumbnail {
    margin-right: 8px;
}

.hennypenny {
    font-family: 'Henny_Penny', cursive;
    font-size: 42px;
}

.logo {
    margin-right: 10px;
}
label.always-encrypt {
    display: none;
}
.link_nocol,
.link_nocol:hover{
    color: #000000;
    text-decoration: none;
}

#install-app img {
    height: 22px;
}
#install-app {
    display: none;
}
.form-control[readonly] {
    background-color: #FFFFFF;
}
.alert .form-group {
    margin-bottom: 5px;
}
#copy-all {
    margin-bottom: 8px;
}
